<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><span [innerHTML]="title"></span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <header class="article-header" padding *ngIf="title">
    <h2 [innerHTML]="title"></h2>
  </header>
  <article padding *ngIf="!article"><ion-spinner color="primary"></ion-spinner></article>
  <article padding class="article-content" *ngIf="article">
    <section class="main" [innerHTML]="article?.content"></section>
    <app-post-information [pastData]='pastData'></app-post-information>
  </article>
  <app-wp-footer></app-wp-footer>
</ion-content>

<ion-footer>
  <app-share-buttons [pastData]='pastData'></app-share-buttons>
</ion-footer>
